{% extends "emails/base.html" %}
{% block title %}Password Changed - {{ site_name }}{% endblock %}
{% block content %}
<h1>Your password was changed</h1>

<p>Hi {{ user.first_name|default:user.email }},</p>

<p>This is a confirmation that the password for your {{ site_name }} account was recently changed.</p>

<div class="highlight">
    <strong>Wasn't you?</strong><br>
    If you didn't make this change, please contact our support team immediately or reset your password.
</div>

<p>Best regards,<br>The {{ site_name }} Team</p>
{% endblock %}

